@model Taller1_Mauricio_Mora.Models.Jugador

@{
    ViewData["Title"] = "Borrar Jugador";
}

<h1 class="text-center mt-4">Borrar Jugador</h1>

<div class="card mx-auto mt-4 shadow-sm" style="max-width: 600px;">
    <div class="card-body">
        <h3 class="text-center">¿Estás seguro de que quieres borrar esto?</h3>
        <h4>Jugador</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Nombre)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombre)</dd>
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Posicion)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Posicion)</dd>
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Edad)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Edad)</dd>
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Equipo)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Equipo)</dd>
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.IdEquipo)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.IdEquipo)</dd>
        </dl>

        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Borrar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
        </form>
    </div>
</div>
